.hidden {
  display: none;
}

.block-scroll {
  overflow-y: scroll;
  max-height: 500px;
}

.block-scroll:not(.collapsed) {
  min-height: 300px;
}

.panel-default {
  /*padding: 15px 15px !important;*/
  padding: 5px 5px !important;
  margin-bottom: 15px !important;
}

.bolder {
  font-weight: bolder;
}

.panel_no_top {
  padding-top: 0px !important;
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
}

.img_fotobook {
  border: 3px solid gray;
  border-radius: 5px;
  margin: 4% 3%;
}
