
/* Centralizar Logo nos devices abixo de 992px */
@media (max-width: 992px) {
  .navbar-brand{
      float: none;
  }
}

.container-logo {
  position: relative;
  height: 95px;
  margin: 0;
  padding: 0;
  z-index: 102;
  min-height: 0px;
  -webkit-box-shadow: 0 0px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0px 1px rgba(0, 0, 0, 0.15);
  border: 0;
  top: 0;
}

.container-logo-inner {
  background: #ffffff;
  height: 95px;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
}

.container-menu {
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
  border-top-left-radius: 1px ! important;
  border-top-right-radius: 1px ! important;
}

.container-menu-itens {
  margin-left: auto !important;
  margin-right: auto !important;
  font-size: 19px !important;
  text-align: center;
}

.navbar-inner ul {
    position:relative;
    left:50%;
    float:left;
    margin-right:0;
    margin-left:0;
}
.navbar-inner li {
    position:relative;
    right:50%;
    float:left;
    margin:0;
    list-style:none
}


/* No limite da transição entre o botãomobile e o encostar no menu de usuario, deve diminuir
a letra e espaço para que não forme linha dupla */
@media (min-width: 762px) and (max-width: 806px){
  .navbar.horizontal-menu .navbar-inner .navbar-nav > li > a {
    font-size: 16px !important;
    padding: 0px 10px !important;
  }
}

@media (min-width: 806px) and (max-width: 858px){
  .navbar.horizontal-menu .navbar-inner .navbar-nav > li > a {
    font-size: 17px !important;
    padding: 0px 10px !important;
  }
}

@media (min-width: 858px){
  .navbar.horizontal-menu .navbar-inner .navbar-nav > li > a {
    font-size: 19px !important;
    padding: 0px 15px !important;
  }
}

/* Ajuste para os icones de menus ficaram inline */
@media (max-width: 1263px) and (min-width: 750px){
  .navbar.horizontal-menu .navbar-inner .navbar-nav a > i {
      display: inline !important;
  }
}

@media (min-width: 768px){

  .navbar.horizontal-menu .navbar-inner .navbar-nav > li {
	    height: 55px !important;
  }

	.container-menu {
	  height: 55px !important;
	}

	.container-menu-itens {
	  margin-left: auto !important;
	  margin-right: auto !important;
	  font-size: 17px !important;
	  height: 55px !important;
	}

	.navbar-inner,
	.nav-userinfo, .user-profile-menu {
	    height: 55px !important;
	}

	.container-menu-itens li, .container-menu-itens li a, .container-menu-itens li a span, .nav-userinfo li, .user-profile-menu li {
	    height: 55px !important;
	    line-height: 55px!important;
	}

	.user-profile-menu li{
	    padding: 5px 20px !important;
	}

  .navbar.horizontal-menu .navbar-inner > .nav > li.user-profile > a > span {
      display: inline-block !important;
  }

}


@media screen and (max-width: 767px){
  .page-container {
    display: contents !important;
  }
}

/* Multiportal*/
#logo_line_portal{
  margin-top: 0px!important;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
  padding: 0px!important;
  background: #fff;
  border-top-left-radius: 1px ! important;
  border-top-right-radius: 1px ! important;
}

.logo_line_portal_sub_div{
  padding-right: 0px!important;
  padding-left: 0px!important;
}

.img_banner_portal{
  /* width: 100% ! important; */
  display: table;
  margin-left: auto ! important;
  max-height: 280px ! important;
  margin-right: auto !important;
  padding-top: 5px;
}
