{% extends "home/base.html" %}

{% load static %}
{% load xenon_core %}
{% load xenon_forms %}

{% block custom_css %}
{% include "statics/css/formularios.html" %}
{% include "statics/css/datatables.html" %}
{% endblock custom_css %}

{% block main %}
<div class="panel panel-default">

	<div class="panel-heading">
		<h3 class="panel-title">Cadastro de texto do Bot</h3>
	</div>

	<div class="panel-body" style="padding: 0px;">
		{% include 'messages/xenon_success_or_error_list.html' %}

          <form method="post" id="form_dados" enctype='multipart/form-data' data-parsley-validate>
    	      {% csrf_token %}
    	      <div class="panel panel-default">
                  <div class="row">

                  {% textarea label='Texto do Bot' name="texto" cols='col-md-6' linhas=3 %}
                  {% input_text label=funcao.descricao_verbose name='descricao' cols='col-md-6' max_len=funcao.descricao_max_length value=funcao.descricao required=funcao.descricao_required %}
                  {% select_simple label=funcao.area_funcao_verbose name='area_funcao' cols='col-md-3' value=funcao.area_funcao_id required=funcao.area_funcao_required selected_id=funcao.area_funcao_id list=area_funcao %}

                  </div>
    		      <div class="panel-body"  style="padding: 0px;">

    				<fieldset class="row margin-top-15" id="salvar_segundo_form">
    					<div class="action-buttons pull-right margin-right-10">
    					    <button id="id_btn_salvar" class="btn btn-md btn-primary pull-right" name="btn_salvar" type="submit">
    					        <i class="{{ ICONES.save }}"></i>
    					        <span class="bigger-110">Salvar</span>
    					    </button>
    					</div>
    				</fieldset>
    		      </div>

    	      </div>
          </form>
      </div>

</div>

{% endblock %}

{% block custom_js %}
{% include 'statics/js/datatables.html' %}
{% include "statics/js/formularios.html" %}

{% endblock  %}
