{% extends "home/base.html" %}
{% load i18n  %}
{% load static %}
{% load xenon_core %}

{% block custom_css %}
{% include "statics/css/formularios.html" %}
{% include 'statics/css/datatables.html' %}
{% endblock %}

{% block main %}

{% page_title title=title description=description_title %}
{% include 'messages/xenon_success_or_error_list.html' %}

<div class="panel panel-default">

	<div class="panel-body">
		<div class="row margin-bottom-10">
			<div class="action-buttons">
			   <a href="{% url 'chatbot.cadastro.texto' %}"
			   type="button" class="btn btn-sm margin-right-15 btn btn-primary"
			   title='{{ btn_label }}'>
			        <i class="{{ ICONES.plus_circle }}"></i>
			        <span class="bigger-110">{% trans "Cadastrar" %}</span>
			   </a>
			</div>
		</div>
    	<div id="datatable_conversa" class="dataTable"></div>
	</div>
</div>
{% endblock %}

{% block custom_js %}
{% include 'statics/js/datatables.html' %}
{% include "statics/js/formularios.html" %}

<script>
var URL_CONSULTA = '{% url "chatbot.listagem.texto.json" %}';
var URL_EDICAO = "{% url 'chatbot.edicao.texto' %}"
var URL_EXCLUSAO = "{% url 'chatbot.exclusao.texto' %}"
var ICON_DELETE = '{{ ICONES.delete }}';
var ICON_EDIT = '{{ ICONES.edit }}'
var TABELA_CONSULTA = undefined;
var TITULO_EDIT = 'Edição da conversa do bot';
var TITULO_EXC = 'Exclusão da conversa do bot';
var ALERTA_EXC = 'Deseja realmente excluir a Conversa do bot'
var ALERTA_SUC_EXC = 'Conversa excluída com sucesso.'

function criar_conversa(){
  TABELA_CONSULTA = $.DataTableXenon({
  	json : URL_CONSULTA,
  	container: "datatable_conversa",
    filterForm: '#filtro_consulta',
    order: [[1, "asc"]],
    aoColumns: [
        {
           "mData": "Ações",
           'orderable': false,
           'searchable': false,
           'class':'col-md-1 text-center md_icons',
           "mRender": function ( data, type, full ) {
             let HTML = ''
             HTML += '<a href="'+ URL_EDICAO + full.id + '" title="'+TITULO_EDIT+'" class="text-gray "><i class="'+ICON_EDIT+'"></i> </a>';
             HTML += '<a href="#" title="'+TITULO_EXC+'" class="text-gray " onclick="excluir_registro(\''+full["id"]+'\')"> <i class="'+ICON_DELETE+'"></i></a>';
             return HTML;
           }
       },
       {
          "mData": "Textos",
		  'orderable': true,
          'searchable': true,
          'class':'col-md-3',
          "mRender": function ( data, type, full ) {
            return full.text;
          }
	   },

   ]
  });
}

function consultar(){
  TABELA_CONSULTA.reload();
}

$(function() {
    criar_conversa();
});

function excluir_registro(registro){

  $.dialogs.confirm('', ALERTA_EXC, function() {
    $.ajax({
      url : URL_EXCLUSAO,
      type : 'get',
      dataType : 'json',
      async : false,
      data : { id : registro },
      success : function(dados) {
		if (dados.status == 'ok') {
			$.dialogs.success(ALERTA_SUC_EXC);
			consultar();
		} else {
			$.dialogs.error(dados.msg)
		}
      }
    });
  });

}

</script>


{% endblock %}
