{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="Expires" content="0" />
	<meta http-equiv="Cache-Control" content="no-cache, no-store" />
	<meta http-equiv="Pragma" content="no-cache, no-store" />
	<meta http-equiv='content-type' content='text/html; charset=utf-8' charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="SPA" />
	<meta name="author" content="Leme Tecnologia" />
	<meta name='robots' content='noindex'>

	{% if vaga %}
  {% include "portal_candidato/especiais/header_vaga.html" %}
	{% else %}
	<title>SPA - {{ RAZAO_CLIENTE_TITULO }}</title>
	{% endif %}

	<link rel="icon" href='{% static 'images/favicon.ico' %}' type="image/png">

	<!-- CSS -->
	<link rel="stylesheet" href="{% static 'css/fonts/googleapis/googleapis.css' %}">
	<link rel="stylesheet" href='{% static 'css/fonts/linecons/css/linecons.css' %}'>
	<link rel="stylesheet" href='{% static 'css/fonts/fontawesome/css/font-awesome.min.css' %}'>
	<link rel="stylesheet" href='{% static 'css/fonts/elusive/css/elusive.css' %}'>
	<link rel="stylesheet" href='{% static 'css/bootstrap.css' %}'>

    <!--CSS-->
    <link rel="stylesheet" href='{% static 'css/xenon/xenon-core.css' %}'>
    <link rel="stylesheet" href='{% static 'css/xenon/xenon-forms.css' %}'>
    <link rel="stylesheet" href='{% static 'css/xenon/xenon-components.css' %}'>
    <link rel="stylesheet" href='{% static 'css/xenon/xenon-skins.css' %}'>
    <link rel="stylesheet" href='{% static 'css/xenon/custom.css' %}'>
		<link rel="stylesheet" href='{% static 'js/alertas/bootbox.css' %}'>
		<link rel='stylesheet' href='{% static 'js/jquery-ui/jquery-ui.css' %}'>

		<link rel='stylesheet' href='{% static 'home/css/global.css' %}'>
		<link rel='stylesheet' href='{% static 'home/css/busca_vaga.css' %}'>
		<link rel='stylesheet' href='{% static 'js/select2/select2.css' %}' />

		{% block chatbot_css %}
		{% include "chatbot/chatbot_css.html" %}
		{% endblock %}

    {% block custom_css %}{% endblock custom_css %}


</head>
<body class="{% block body %}page-body{% endblock %}
{% if is_multiportal %} horizontal-menu-skin-{{ portal.tema }} skin-{{ portal.tema }}
{% else %}
horizontal-menu-skin-facebook skin-facebook
{% endif %}"
{% if is_multiportal %}
style="padding-top: 0px;"
{% endif %}>

	{% block header %}
  {% include 'home/header.html' %}
	{% endblock %}

	<div class="{% block container %}page-container{% endblock %}" style="min-height: 90vh !important">
		<div class="{% block main_content %}main-content{% endblock %}" >


			{% block main %}{% endblock %}

			{% block chatbot %}
			{#% include "chatbot/chatbot.html" %#}
			{% endblock %}

		</div>
	</div>

	{% block footer %}
  {% include "home/footer.html" %}
	{% endblock %}

	{% block dialogs %}{% endblock %}

    <!-- Bottom Scripts -->
    <script src='{% static 'js/jquery/jquery-2.2.4.min.js' %}'></script>
	  <script src='{% static 'js/jquery/jquery-ui.min.js' %}'></script>
    <script src='{% static 'js/forms/csrf.js' %}'></script>
    <script src='{% static 'js/bootstrap.min.js' %}'></script>
    <script src='{% static 'js/xenon/TweenMax.min.js' %}'></script>
    <script src='{% static 'js/xenon/resizeable.js' %}'></script>
    <script src='{% static 'js/xenon/joinable.js' %}'></script>
    <script src='{% static 'js/xenon/xenon-api.js' %}'></script>
    <script src='{% static 'js/xenon/xenon-toggles.js' %}'></script>
    <script src='{% static 'js/xenon/xenon-custom.js' %}'></script>
    <script src='{% static 'js/alertas/bootbox.min.js' %}'></script>
    <script src='{% static 'js/alertas/dialogs.js' %}'></script>
    <script src='{% static 'js/alertas/ajax.js' %}'></script>
    <script src='{% static 'js/carregando/jquery.blockUI.js' %}'></script>
    <script src='{% static 'js/carregando/carregando.js' %}'></script>
		<script src='{% static 'js/select2/select2.min.js' %}' ></script>
		<script src='{% static 'js/select2/select2_locale_pt-BR.js' %}' ></script>

		<script>
    // Poppover do menu de contato
		var URL_SITE_CLIENTE_LINK = '';
		var URL_SITE_CLIENTE = '';
		var TELEFONE_CLIENTE = '';
		var TXT_TELEFONE = '';
		var TXT_SITE = '';
		// Busca de Cidade
		var URL_SITE_CLIENTE_LINK = '';

		// Processo de Termo de Aceite (Legado)
		var URL_ACEITA_TERMOS = '';
		var MOSTRAR_ACEITE = '';
		</script>

		{% block chatbot_js %}
		{% include "chatbot/chatbot_js.html" %}
		{% endblock %}

    {% block custom_js %} {% endblock custom_js %}
</body>
</html>
