{% load i18n %}

{% if visible %}
<div class="{{ cols }} {% if has_alert %}has_alert{% endif %} margin-bottom-10">

  {% if label_text %}
  <label class="{% if inline %}col-sm-2{% endif %} control-label" for="{{ field_name }}">
    {% trans label_text %}
    {% if required %}
        <span class="text-danger">*</span>
    {% endif %}:
    {% if info_block %}
    <span class="badge badge-{{ info_block_color }}" title="{{ info_block }}"><i class="fa {{ info_block_icon }}"></i></span>
    {% endif %}
  </label>
  {% endif %}

  <div class="{% if inline %}col-sm-10{% endif %}" id="div_{{ field_id }}">
    <textarea class=" form-control {{ field_classes }} {% if autogrow %}autogrow{% endif %}"
      name="{{ field_name }}"
      id="{{ field_id }}"
      {% if placeholder %}placeholder="{{ placeholder }}"{% endif %}
      {% if disabled %}disabled=""{% endif %}
      {% if readonly %}readonly="readonly"{% endif %}
      {% if max_len %}maxlength="{{ max_len }}"{% endif %}
      {% if colunas %}cols="{{ colunas }}"{% endif %}
      {% if linhas %}rows="{{ linhas }}"{% endif %}
      type="{{ field_type }}"
      {{ custom_attr }}
      style="resize: vertical"
      data-parsley-errors-container="#help_block_{{ field_name }}"
      autocomplete='{{ field_name }}'
      {% if required %}required{% endif %}>{{ field_value }}</textarea>
  <p class="help-block"  id="help_block_{{ field_name }}">{{ help_block }}</p>
  </div>
</div>
{% endif %}
