certifi==2018.4.16
chardet==3.0.4
ChatterBot==0.8.0
chatterbot-corpus==1.1.2
Django==2.2.10
future==0.16.0
gunicorn==19.8.1
idna==2.7
jsondatabase==0.1.7
mathparse==0.1.1
nltk==3.3
oauthlib==2.1.0
psycogreen==1.0
psycopg2==2.7.3.2
pymongo==3.6.1
python-dateutil==2.6.1
python-twitter==3.4.2
pytz==2018.4
PyYAML==3.12
requests==2.19.0
requests-oauthlib==1.0.0
ruamel.yaml==0.15.0
six==1.11.0
SQLAlchemy==1.1.18
urllib3==1.23
whitenoise==3.3.1
