{% load i18n %}
{% load static %}


	{% include "static_css.html" %}


<div>
	<div class="footer-sticked-chat"><!-- Start: Footer Sticked Chat -->

		<ul class="chat-conversations list-unstyled">
			<li id="sample-chat-window">
			    <a href="#"  class="chat-user" style="background-color:#4e70ea; color:#ffffff;">
				   <span class="user-status is-online"></span>
						<strong>{{ nome_chatbot }}</strong>
				 </a>

						{% if not tem_resposta %}
							<span class="chat_notificacao badge badge-orange">1</span>
						{% endif %}
			      <div class="conversation-window">
			  <!-- User Info Link in header (used to close the chat bar) -->
			        <a href="#"  class="chat-user" style="background-color:#4e70ea; color:#ffffff;">
			          <!-- <span class="close">&times;</span> -->
									<i id="send-video-icon" class="fa-video-camera"></i>
									<i id="send-audio-icon" class="fa-microphone" onclick="createAudioSubmit(event);"></i>
			        	<span class="user-status is-online"></span>
						<strong>{{ nome_chatbot }}</strong>
			        </a>
			      <ul class="conversation-messages ps-scrollbar ps-scroll-down list-group chat-log js-chat-log">
							<li>
								<div class="message-entry container_chat conv_bot">
									<img src="/static/images.png" alt="Avatar" class="left img-responsive img-circle" />
									<p class="conversa">{{ texto_inicial }}</p>
								</div>
							</li>
						</ul>
						<div id="chat_input">
							<!-- <input type="text" class="form-control chat_text"  placeholder="Digite sua mensagem..." /> -->
							{% if entrevista %}
								{% if tem_resposta %}
									<input type="text" class="form-control chat_text col-md-6 col-xs-12"  readonly placeholder="Digite sua mensagem..." />
									<button type="button" class="btn btn-info chat_enviar" disabled>
										<i class="fa fa-send-o"></i>
									</button>
								{% else %}
									<input type="text" class="form-control chat_text col-md-6 col-xs-12"  placeholder="Digite sua mensagem..." />
									<button type="button" class="btn btn-info chat_enviar">
										<i class="fa fa-send-o"></i>
									</button>
								{% endif %}
							<!--	<input type="button" id="js-btn-left" class="btn btn-success btn_esquerdo col-md-5" value="Sim"/>
								<input type="button" id="js-btn-right" class=" btn btn-danger btn_direito col-md-5" value="Não"/> -->
							{% else %}
								{% if tem_resposta %}
									<input type="text" class="form-control chat_text col-md-6 col-xs-12"  readonly placeholder="Digite sua mensagem..." />
									<button type="button" class="btn btn-info chat_enviar" disabled>
										<i class="fa fa-send-o"></i>
									</button>
								{% else %}
									<input type="text" class="form-control chat_text col-md-6 col-xs-12"  placeholder="Digite sua mensagem..." />
									<button type="button" class="btn btn-info chat_enviar">
										<i class="fa fa-send-o"></i>
									</button>
								{% endif %}

							{% endif%}

						</div>
			  </div>
			</li>
		</ul>
		<!-- Para quando ficar mobile -->
		<a href="#" class="mobile-chat-toggle">
			<i class="linecons-comment"></i>
			<span class="num">1</span>
			<span class="chat_notificacao badge badge-orange">1</span>
		</a>
	<!-- End: Footer Sticked Chat -->
	</div>
</div>


{% include "static_js.html" %}

  <script type="text/javascript">
		function toggleSampleChatWindow()
		{
			var $chat_win = jQuery("#sample-chat-window");

			$chat_win.toggleClass('open');

			if($chat_win.hasClass('open'))
			{
				var $messages = $chat_win.find('.ps-scrollbar');

				if($.isFunction($.fn.perfectScrollbar))
				{
					$messages.perfectScrollbar('destroy');

					setTimeout(function(){
						$messages.perfectScrollbar();
						$chat_win.find('.form-control').focus();
					}, 300);
				}
			}

			jQuery("#sample-chat-window form").on('submit', function(ev)
			{
				ev.preventDefault();
			});
		}

		jQuery(document).ready(function($)
		{
			$(".footer-sticked-chat .chat-user, .other-conversations-list a").on('click', function(ev)
			{
				ev.preventDefault();
				toggleSampleChatWindow();
			});

			$(".mobile-chat-toggle").on('click', function(ev)
			{
				ev.preventDefault();

				$(".footer-sticked-chat").toggleClass('mobile-is-visible');
			});
		});
		</script>
    <script type="text/javascript">
    // Here is just a sample how to open chat conversation box
    jQuery(document).ready(function($)
    {
      var $chat_conversation = $(".chat-conversation");

      $(".chat-group a").on('click', function(ev)
      {
        ev.preventDefault();

        $chat_conversation.toggleClass('is-open');

        $(".chat-conversation textarea").trigger('autosize.resize').focus();
      });

      $(".conversation-close").on('click', function(ev)
      {
        ev.preventDefault();
        $chat_conversation.removeClass('is-open');
      });
    });
    </script>
