{% load i18n %}
{% load static %}
<script src="{% static 'js/jquery/jquery-2.2.4.min.js' %}"></script>
<script src="{% static 'js/jquery/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/forms/csrf.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/xenon/TweenMax.min.js' %}"></script>
<script src="{% static 'js/xenon/resizeable.js' %}"></script>
<script src="{% static 'js/xenon/joinable.js' %}"></script>
<script src="{% static 'js/xenon/xenon-api.js' %}"></script>
<script src="{% static 'js/xenon/xenon-toggles.js' %}"></script>
<script src="{% static 'js/xenon/xenon-custom.js' %}"></script>
<script src="{% static 'js/alertas/bootbox.min.js' %}"></script>
<script src="{% static 'js/alertas/dialogs.js' %}"></script>
<script src="{% static 'js/alertas/ajax.js' %}"></script>
<script src="{% static 'js/carregando/jquery.blockUI.js' %}"></script>
<script src="{% static 'js/carregando/carregando.js' %}"></script>

{% include "audio_js.html" %}

<script>
  {% if entrevista %}
    var chatterbotUrl = '{% url "chatterbot_entrevista" %}';
  {% else %}
    var chatterbotUrl = '{% url "chatterbot" %}';
  {% endif%}
  var csrftoken = Cookies.get('csrftoken');
  var date = new Date().toLocaleString();

  function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  }

  $.ajaxSetup({
    beforeSend: function(xhr, settings) {
      if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
        xhr.setRequestHeader("X-CSRFToken", csrftoken);
      }
    }
  });

  var chatlog = $('.js-chat-log');
  var input = $('.chat_text');
  var input_btn_left = $('#js-btn-left');
  var input_btn_right = $('#js-btn-right');
  var botaoEnviar = $('.chat_enviar');
  var chatNotificacao = $(".chat_notificacao");
  var count = 0
  var chat_input = $("#chat_input");

  var input_text = function() {
    let _input_text =
    '<input type="text" id="input_text" class="form-control chat_text col-md-6  col-xs-12"  placeholder="Digite sua mensagem..." />'
    + '<button type="button" class="btn btn-info chat_enviar">'
    + '<i class="fa fa-send-o"></i>'
    + '</button>';
    chat_input.empty();
    chat_input.append(_input_text);
  }

  function createRowUsuario(options, text='') {
    var message = '<li class="">'
    + '<div class="message-entry container_chat">'
    + '<img src="/static/inhegas.jpg" alt="Avatar" class="right img-responsive img-circle"/>';
    if (options) {
      if (options.media === 'audio') {
        let audioId = new Date().getTime().toString();
        message += `<div><audio id="${audioId}" controls autoplay></audio><div>`;

        chatlog.append(message);
        return audioId;
      }

    } else {
      message += `<p class="conversa" style="text-align:right;">${text}</p>`
      + '</div>';
      + '</li>';
    }

    chatlog.append(message);

  }

  function createRowBot(text) {
    var message = '<li class="">'
    + '<div class="message-entry container_chat conv_bot">'
    + '<img src="/static/images.png" alt="Avatar" class="left" />'
    + `<p class="conversa">${text}</p>`;
    + '</div>';
    + '</li>';


    chatlog.append(message);
  }

  function createInputAudio() {
    let divAudio = document.createElement('div');
    let iconAudioRecording = document.createElement('i');

    iconAudioRecording.className = 'fa-microphone fa-blink';

    //iconAudioRecording.src = '/static/processing.gif';

    divAudio.appendChild(iconAudioRecording);

    chat_input.empty();
    chat_input.append(divAudio);
  }

  function createAudioSubmit(e) {
    if (!e) e = window.event;
    e.stopPropagation();

    createInputAudio()

    let audioId = createRowUsuario({ media: 'audio' });
    let audio = document.getElementById(audioId);

    StartRecording(audio);
    setTimeout(StopRecording, 5000, audio);

  }

  function submitInput(input_val, input_resp) {
    var inputData = {
        'text': input_val
    }
    var inputDataResp = {
        'text': input_resp
    }

    // Display the user's input on the web page
    createRowUsuario(null, inputDataResp.text);

    var $submit = $.ajax({
      type: 'POST',
      url: chatterbotUrl,
      data: JSON.stringify(inputData),
      global: false, /*Para cancelar o carregamento do ajax*/
      contentType: 'application/json'
    });

    $submit.done(function(statement) {
        createRowBot(statement.text);
        // Clear the input field

        if (statement.extra_data == 'objetiva') {
          var input_btn = '<input type="button" id="js-btn-left" class="btn btn-success btn_esquerdo col-md-5 col-xs-5" value="Sim"/>'
          + '<input type="button" id="js-btn-right" class=" btn btn-danger btn_direito col-md-5 col-xs-5" value="Não"/>';

          chat_input.empty();
          chat_input.append(input_btn);
        } else {
          input_text()
          setFocusToTextBox();

        }

        // Scroll to the bottom of the chat interface
        chatlog[0].scrollTop = chatlog[0].scrollHeight;

        $('.chat_text').keydown(function(event) {
          // Submit the input when the enter button is pressed
          if (event.keyCode == 13) {
            submitInput($('.chat_text').val(), $('.chat_text').val());

          }
        });

        $('.chat_enviar').click(function() {
          submitInput($('.chat_text').val(), $('.chat_text').val());
        });

        $('#js-btn-left').click(function(){
          count ++
          var btn_left = $('#js-btn-left').val().concat('_'+count)
          submitInput(btn_left, $('#js-btn-left').val());
        });

        $('#js-btn-right').click(function(){
          count ++
          var btn_right = $('#js-btn-right').val().concat('_'+count)
          submitInput(btn_right, $('#js-btn-right').val());
        });
    });


    $submit.fail(function() {
      // TODO: Handle errors
    });


  }


    botaoEnviar.click(function() {
      submitInput(input.val(), input.val());
    });

  $('#js-btn-left').click(function(){
    count ++
    var btn_left = $('#js-btn-left').val().concat('_'+count)
    submitInput(btn_left, $('#js-btn-left').val());
  });

  input_btn_right.click(function(){
    count ++
    var btn_right = input_btn_right.val().concat('_'+count)
    submitInput(btn_right, input_btn_right.val());
  });

  input.keydown(function(event) {
    // Submit the input when the enter button is pressed
    if (event.keyCode == 13) {
      submitInput(input.val(), input.val());
    }
  });

  $('.chat-user').click(function(){
    chatNotificacao.hide();
  });

  function setFocusToTextBox(){
      document.getElementById("input_text").focus();
  }

</script>
