{% load i18n %}
{% load static %}
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Arimo:400,700,400italic">
<link rel="stylesheet" href='{% static 'css/fonts/linecons/css/linecons.css' %}'>
<link rel="stylesheet" href='{% static 'css/fonts/fontawesome/css/font-awesome.min.css' %}'>
<link rel="stylesheet" href='{% static 'css/fonts/elusive/css/elusive.css' %}'>
<link rel="stylesheet" href='{% static 'css/bootstrap.css' %}'>
<link rel="stylesheet" href='{% static 'css/xenon/xenon-core.css' %}'>
<link rel="stylesheet" href='{% static 'css/xenon/xenon-forms.css' %}'>
<link rel="stylesheet" href='{% static 'css/xenon/xenon-components.css' %}'>
<link rel="stylesheet" href='{% static 'css/xenon/xenon-skins.css' %}'>
<link rel="stylesheet" href='{% static 'css/xenon/custom.css' %}'>
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>

<style media="screen">

/*Configura chat*/
.container_chat {
    border: 2px solid #e6f0ff;
    background-color: #e6f0ff;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

/*Altera as cores da caixa de mensagem do Bot*/
.conv_bot {
    border-color: #f2f2f2;
    background-color: #ffffff;
}

/* Configura as tamanho e formato da imagem do Bot*/
.container_chat img {
    width: 50px;
    height: 50px;
    float: left;
    margin-top: -5px;
    margin-right: 15px;
    /* border-radius: 50%; */
}

/* Configura as tamanho e formato da imagem do Usuário*/
.container_chat img.right {
    width: 50px;
    height: 50px;
    float: right;
    margin-top: -5px;
    margin-left: 15px;
    margin-right:0;
}

/* Configuração da conversa*/
.conversa {
  word-wrap: break-word;
}

.btn_esquerdo{
  margin-left: 17px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.btn_direito{
  margin-top: 5px;
  margin-bottom: 5px;
}

.chat_text{
  width: 83%;
}

.chat_enviar{
  margin-left: 0.5%;
}
</style>
