{% extends "home/base.html" %}

{% load static %}
{% load xenon_core %}
{% load xenon_forms %}
{% load static %}

{% block custom_css %}
{% include "statics/css/formularios.html" %}
{% include "statics/css/datatables.html" %}
{% endblock custom_css %}

{% block main %}
<div class="panel panel-default">

	<div class="panel-heading">
		<h3 class="panel-title">{{ title }}</h3>
	</div>

	<div class="panel-body" style="padding: 0px;">
		{% include 'messages/xenon_success_or_error_list.html' %}

          <form method="post" id="form_dados" enctype='multipart/form-data' data-parsley-validate>
    	      {% csrf_token %}
    	      <div class="panel panel-default">
                  <div class="row">

                  {% select_simple label='Pergunta do Usuário' name='pergunta_usuario' cols='col-md-6' selected_id=resposta.statement_id required=True list=lista %}
                  {% select_simple label='Respota do ChatBot' name='resposta_bot' cols='col-md-6' selected_id=resposta.response_id required=True list=lista %}


                  </div>
    		      <div class="panel-body"  style="padding: 0px;">

    				<fieldset class="row margin-top-15" id="salvar_segundo_form">
    					<div class="action-buttons pull-right margin-right-10">
    					    <button id="id_btn_salvar" class="btn btn-md btn-primary pull-right" name="btn_salvar" type="submit">
    					        <i class="{{ ICONES.save }}"></i>
    					        <span class="bigger-110">Salvar</span>
    					    </button>
    					</div>
    				</fieldset>
    		      </div>

    	      </div>
          </form>
      </div>

</div>

{% endblock %}

{% block custom_js %}
{% include 'statics/js/datatables.html' %}
{% include "statics/js/formularios.html" %}
{% include "chatbot/statics/envio_login_senha.html" %}
<script src="" charset="utf-8"></script>
{% endblock  %}
